/*  footer menu all pages */

.footer--content {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-icon span,
.linkedin-icon span,
.github-icon span,
.codepen-icon span {
  color: #fafafa;
  margin: 0 0.8rem;
}

.instagram-icon span:hover {
  color: #bf2a37;
}

.linkedin-icon span:hover {
  color: #0442bf;
}
.github-icon span:hover {
  color: #598c80;
}

.codepen-icon span:hover {
  color: #172228;
}

.footer--text {
  font-family: 'Saira', sans-serif;
  font-size: 1.8rem;
  color: #fafafa;
  text-align: center;
  padding: 2rem 0;
}

.footer--text span {
  font-size: 2.4rem;
  background: rgb(5, 64, 242);
  background-image: linear-gradient(
    0deg,
    rgba(5, 64, 242, 1) 0%,
    rgba(248, 113, 113, 1) 100%
  );
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
}
